.DS_Store
.CAPUSER
.babel.json
build/
coverage/
node_modules/
apps/shared/lib/
apps/auth-legacy/data/env.json
apps/shared/images/emoji
tmp/
asset-map.json
grunt-aws.json
.ruby-version
.tm_properties
test/*.xml
*.compiled.css
apps/webviews/public/js/compiled.templates.js
apps/webviews/public/stylesheets/generated
apps/shared/js/config/version.js
apps/shared/js/config/app_version.js
apps/design/_site/
*.log
generated-docs/

stats.json

# Editors

.vscode/settings.json
.idea
*.sublime-project
*.sublime-workspace

# Security

nsp_check_v.xml
retire.txt
nsp.json

cypress/screenshots/
cypress/videos/

ghe_key
